.body {
    background: transparent;
}

div.titulo{
    position: relative;
    left: 90px;
}

.container {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 80%;
    height: 220px;
    color: #333;
    background: transparent;
}

.single-item {
    text-align: center;

}

img {
    display: block;
    margin: 0 auto;
}

.slick-slide {
    color: black;
    background: transparent;
}

.